 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
--colorFondoMenu:#212529; 
--colorFondoAbout:#f8f9fa;
--colorFondo:#343A40;
--colorScroll:#495057;
--colorTexto: #EAEBED;
--colorTexto2: #08B2E3;
--colorTexto3: #AEA3B0;
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--colorFondo);
}

::-webkit-scrollbar-thumb{
    background-color: var(--colorScroll);
    border-radius: 10px;
}

@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Roboto';
}

html{
    scroll-behavior: smooth;   
}

header{
    top: 0;
    left: 0;
    width: 100%;
    color: var(--colorTexto);
    z-index: 99;
}

.wrapper{
    width: 100%;
    height: 100vh;
    color: var(--colorTexto);
    background: linear-gradient(to top,rgba(30,35,38,.8),rgba(30,35,38,1)),
    url(Img/backgorund2.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand{
    margin-top:-10px;
}

.brand span{
    color: var(--colorTexto2);
}

.navbar{   
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: 1.5em;
    background-color: var(--colorFondoMenu);
   
}

.menu{
    display: flex;
    max-width: 1100px;
    justify-content: space-around;
}

li {
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: var(--colorTexto);
    padding: 10px 15px;
}


.menu a:hover{
    background-color: var(--colorTexto2);
    color: var(--colorFondo);
    transition: ease .5s;
}


/*Primera Parte*/

.main{
    margin: 0;
    padding: 8em 5em; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 37, 41, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.info-content h1{
    font-size: clamp(1rem,3rem, 4rem);
    letter-spacing: 10px;
}

.info-content p {
    font-size: 1.5em;
    margin-top: 15px;
}

.download-cv{
    padding: 10px 20px;
    background-color: var(--colorTexto2);
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 1em;
}

.download-cv:hover{
    background-color: var(--colorTexto);
}

.icons{
    display: flex;
    column-gap: 25px;
    justify-content: center;

}

.icon{
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border-radius: 50%;
    outline: 2px solid #fff;   
    font-size: 35px;
}

.icon:hover{
    outline-offset: 4px;
    background-color: var(--colorTexto2);
    outline-color: var(--colorTexto2);
    transition: ease-in .15s;
}

.icon a{
    margin: auto;
    display: flex;
    text-decoration: none;
}

.icon a>i{
    margin: auto;
    color: var(--colorTexto);
}

.icon i:hover{
    animation: shake 0.25s;
}

/* About me*/

.about {
    padding: 5em 7em;
    background-color: var(--colorFondo);
    color: var(--colorTexto);
    font-weight: lighter;
}

.about-info{
    max-width: 80vw;
    margin: auto;
}

.about-info h1{
    font-size: clamp(1rem,3rem, 4rem);
    text-align: center;
    margin-bottom: 1em;
}

.about-info p{
    font-size: 1.3em;
    margin-bottom: 1.5em;
  
}

.about-info p>span{
    color: var(--colorTexto2);
    font-weight: bold;
}

.info-personal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3em;
    font-size: 20px; 
    flex: 0 0 50%;
}

.info-personal div{
   margin-bottom: 3em;
}

.datos-personales h2, .intereses h2{
    margin-bottom: 1.5em;
}

.datos-li{
    margin: 12px 0;
}

.datos-li span{
    display: inline-block;
    width: 150px;
    color: var(--colorTexto2);
    font-weight: bold;
}

.intereses ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.intereses ul li{
    width: 100px;
    height: 100px;
    background-color: var(--colorFondoMenu);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    transition: .3s;
    font-size: 20px;
}

.intereses ul li:hover{
    background-color: var(--colorTexto2);
}

.intereses ul li i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* Portafolio */
.portfolio{
    padding: 5em 7em;
    font-weight: lighter;
}

.portfolio h1{
    font-size: clamp(1rem,3rem, 4rem);
    text-align: center;
    margin-bottom: 1em;
}

.projects{
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 0 2em;
    flex-wrap: wrap;
    
}

.project{
    overflow: hidden;
    max-width: 500px;
    position: relative;
    color: var(--colorTexto);
    
}

.project ul{
    display: flex;
    animation: slider 20s infinite;
    width: 400%;
}

.project ul li{
    width: 100%;
    list-style: none;
}

.project img{
    width: 100%;
    height: 100%;
   
}

.project .info-project{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(52, 58, 64, 0.7);
    backdrop-filter: blur(0.1rem);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: .3s;
}

.project:hover .info-project {
    opacity: 1;
    visibility: visible;
}

.info-project h2{
    color: var(--colorTexto2);
    font-weight: bold;
    margin-bottom: 1.2em;
}

.info-project p{
   padding: 0 1em;
}

/* Contacto */
.contact{
    padding: 5em 7em;
    color: var(--colorTexto);
    font-weight: lighter;
    background-color: #000;
}

.contact h1{
    text-align: center;
    font-size: clamp(1rem,3rem, 4rem);
    margin-bottom: 1em;
}

.contactos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
    margin: 1.2em 0;
}

.contactos span>i{
    color: var(--colorTexto2);
}